.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #07080c;
}

.heading {
  font-family: 'Roboto';
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
}

.image {
  height: 125px;
  width: 300px;
}

.card-text {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.speed-limits {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 200;
  color: #cbd5e1;
  margin-bottom: 36px;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.accelerate-btn {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #0b69ff;
  padding: 8px 16px;
  margin: 0px 12px;
  outline: none;
  cursor: pointer;
}

.brake-btn {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #94a3b8;
  border-radius: 8px;
  color: #94a3b8;
  background-color: transparent;
  padding: 8px 16px;
  margin: 0px 12px;
  outline: none;
  cursor: pointer;
}
